<div class="primary-nav">
    <button href="#" class="hamburger open-panel nav-toggle">
        <span class="screen-reader-text">Menu</span>
    </button>
  	<nav role="navigation" class="menu">
  		<a href="{{ '/' }}" class="logotype"><img src="/img/mangaShadowLogoIco.png" alt="Manga Shadow Logo"></a>
  		<div class="overflow-container">
  			<ul class="menu-dropdown">
  				<li><a href="{{ '/' }}">Home</a><span class="icon"><i class="fa fa-home"></i></span></li>
  				<li><a href="{{ '/biblioteca' }}">Biblioteca</a><span class="icon"><i class="fa fa-book"></i></span></li>
                <li><a href="#" class="darkModeButton">Dark Mode</a><span class="icon"><i id="dark" class="fa fa-moon-o"></i></span></li>
        <li class="menu-hasdropdown">
                <a class="inactiveLink">Cuenta</a><span class="icon"><i class="fa fa-gear"></i></span>
                <label title="toggle menu" for="settings">
                <span class="downarrow"><i class="fa fa-caret-down"></i></span>
                </label>
                <input type="checkbox" class="sub-menu-checkbox" id="settings" />
                <ul class="sub-menu-dropdown">
                    {% if is_granted('ROLE_USER') %}
                        <li><a href="{{ '/perfil' }}">Profile</a></li>
                        <li><a href="{{ path('upload_biblioteca') }}">Subir Manga</a></li>
                        <li><a href="{{ path('app_logout') }}">Desconectar</a><li> 
                    {% else %}
                        <li><a href="{{ path('login') }}">Iniciar sesión</a></li> 
                        <li><a class="nav-link" href="{{ path('app_register') }}">Registrarse</a> </li>
                        {% endif %}
                </ul>
            </li>
  		</ul>

  		</div>

  	</nav>

  </div>